.item-card {
    transition: all 250ms ease;
    cursor: pointer;
}

.item-card:hover {
    box-shadow: 20px 22px 22px 16px #e9ecef;
    transform: scale(1.02);
}

.fixed-top {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.c-bg-primary {
    background-color: #0f1023;
}

.hero-img-container {
    padding: 0;
}
